* {
    font-family: 'Poppins', sans-serif;
    transition: all 0.75s;
}
body {
    background: #FAFBFF;
    margin: 0;
    box-sizing: border-box;
}
.container {
    display: block;
    margin: 0 auto;
    width: 970px;
    height: 750px;
    margin-top: 1%;
    padding: 30px 44px 40px 38px;
    background: #FFFFFF;
    box-shadow: 0px 10px 60px rgba(226, 236, 249, 0.5);
    border-radius: 30px;
}
nav {
    display: flex;
    height: 80px;
}
nav .info {
    width: 200px;
}
nav .info .title {
    font-weight: 600;
    font-size: 22px;
    color: #000000;
    margin: 0;
}
nav .info .descr {
    font-weight: 400;
    font-size: 14px;
    color: #16C098;
    margin-top: 7px;
}
nav .search_pannel {
    display: flex;
    align-items: center;
    margin-left: 350px;
    width: 216px;
    height: 38px;
    background: #F9FBFF;
    border-radius: 10px;
    align-self: center;
}
nav .search_pannel img {
    margin: 10px;
}
nav .search_pannel .table_search {
    background: none;
    border: none;
}
nav .search_pannel .table_search:focus {
    outline: none;
}
nav .selection {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 154px;
    height: 38px;
    background: #F9FBFF;
    border-radius: 10px;
    margin-left: 16px;
    align-self: center;
}
nav .selection .sort_label {
    font-weight: 400;
    font-size: 12px;
    color: #7E7E7E;
    line-height: 21px;
}
nav .selection .table_sort {
    color: #3D3C42;
    font-weight: 600;
    border: none;
    background: none;
}
nav .selection .table_sort:focus {
    outline: none;
}
table {
    display: table;
    width: 970px;
    border-collapse: collapse;
}
table>*>* {
    text-align: left;
    border-bottom: 1px solid #EEEEEE;
}
tbody tr:hover {
    background: #EEEEEE;
}
td, th {
    font-weight: 500;
    font-size: 14px;
    color: #292D32;
    height: 70px;
}
th {
    color: #B5B7C0;
}
table tbody tr .active, table tbody tr .inactive {
    display: flex;
    margin: 20px 0;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 29px;
    background: rgba(22, 192, 152, 0.38);
    border: 1px solid #00B087;
    border-radius: 4px;
}
table tbody tr .inactive {
    background: #FFC5C5;
    border: 1px solid #DF0404;
}